<div class="bg">
  <app-header></app-header>
<div class="container-fluid ted">
  <div class="row">
    <div class="col-sm-12">
      <router-outlet></router-outlet>
      <!-- <app-demo-details *ngIf = "val1 === 'demo'"></app-demo-details>
      <app-physical-examination *ngIf = "val1 === 'phy'"></app-physical-examination>
      <app-neurological-examination *ngIf = "val1 === 'neur'"></app-neurological-examination>
      <app-clinical-impression *ngIf = "val1 === 'clin'"></app-clinical-impression> -->
    </div>
  </div>
</div>
</div>
